<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_area :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_area :lastname %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_area :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_area :weight %>
  </div>
  <div class="field">
    <%= f.label :distinguishing %><br>
    <%= f.text_area :marks %>
  </div>
  <div class="field">
    <%= f.label :relavantmedical %><br>
    <%= f.text_area :conditions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
