<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last name %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
